<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activity (Login) -->
        <activity
            android:name=".AuthActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Music Category Activity -->
        <activity
            android:name=".MusicCategoryActivity"
            android:exported="true" />

        <!-- Artist Songs Activity -->
        <activity
            android:name=".ArtistSongsActivity"
            android:exported="true" />

        <!-- Genre Songs Activity -->
        <activity
            android:name=".GenreSongsActivity"
            android:exported="true" />

        <!-- MediaPlayer Service -->
        <service android:name=".MediaPlayerService" />

    </application>
</manifest>
