<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".PlayerSet.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activity (Login) -->
        <activity
            android:name=".LoginRegister.AuthActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".LoginRegister.RegisterActivity"
            android:exported="false" />

        <!-- Music Category Activity -->
        <activity
            android:name=".CategoriesSet.MusicCategoryActivity"
            android:exported="true" />

        <!-- Artist Songs Activity -->
        <activity
            android:name=".Artists.ArtistSongsActivity"
            android:exported="true" />

        <!-- Genre Songs Activity -->
        <activity
            android:name=".Genres.GenreSongsActivity"
            android:exported="true" />

        <!-- MediaPlayer Service -->
        <service android:name=".MediaManager.MediaPlayerService" />

    </application>
</manifest>
